html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
body {
  width: 800px;
  margin: 0 auto;
}
h1, h2 {
  font-family: 'Faster One', cursive;
}
h1 {
  font-size: 4rem;
  text-align: center;
}
header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}
section article {
  width: 33%;
  float: left;
}
section p {
  margin: 5px 0;
}
section ul {
  margin-top: 0;
}
h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}
button#languageSwitchBtn {
  background-color: #4CAF50; /* Зелене тло */
  color: white;              /* Білий текст */
  padding: 10px 20px;        /* Відступи всередині кнопки */
  font-size: 1.2rem;         /* Розмір шрифта */
  border: none;              /* Без рамки */
  border-radius: 5px;        /* Заокруглені краї */
  cursor: pointer;          /* Курсор у вигляді руки при наведенні */
  transition: background-color 0.3s ease; /* Плавна зміна кольору фону */
}
button#languageSwitchBtn:hover {
  background-color: #45a049; /* Темніший зелений при наведенні */
}
button#languageSwitchBtn:focus {
  outline: none; /* При фокусі не показує обведення */
}
button#languageSwitchBtn:active {
  background-color: #388e3c; /* Ще темніший зелений при натисканні */
}